.talla{
    width: 75px;
    height: 75px;
    background-color: rgb(20, 5, 5);
    border: 1px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white;

    &--active{
        background-color: white;
        color: black;
    }
}