footer{
    background-color: #333333;
    height: 100%;
    margin-top: auto;
    color: white;
    display: flex;
    justify-content: center;
    table{
        padding: 10px;

    }

    thead{
        tr{
            th{
                font-size: 20px;
                hr{
                    width: 100%;
                    border: 1px solid white;
                    margin-bottom: 5px;
                    display: block;
                    width: 100%;
                    background-color: #FFC107;
                    margin-top: 10px;   
                }
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 70px;
                padding-right: 70px;
            }
        }
    }

    tbody{
        tr{
            td{
                padding: 5px;
                text-align: center;
                .vinculo{
                    img{
                        width: 40px;
                        margin-right: 10px;
                        align-items: center;
                    }
                }
                a:hover{
                    transition-duration: .3s;
                    color: #FFC107;
                }
            }
        }
    }

}