main{
    .novedades{

        background: linear-gradient(0.25turn, #3f87a6, #f5a882, #f69d3c);
        padding: 30px;
        background-size: 200% 200%;
        animation: cambioColor 4s ease infinite;

        @keyframes cambioColor{
            0%{background-position: 0% 50%}
            50%{background-position: 100% 50%}
            100%{background-position: 0% 50%}
        }
        img{
            width: 30%;
        }
        display: flex;
        
        
        .descripcion {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
    
            h2 {
                color: darkslategrey;
                margin-top: 20px;
                text-align: center;
                font-size: 30px;
            }

            p {
                text-align: center;
                margin: 0 50px;
                font-size: 20px;
                padding: 30px;
            }

            .botones{
                width: 100%;
                display: block;
                text-align: center;
                a{
                
                    font-size: 18px;
                    color: black;
                    background-color: transparent;
                    border: 1px solid black;
                    padding: 10px;
                    border-radius: 10px;
                }
            }
        }
    }

    .marcas{

        .presentacion{
            padding: 30px;
            h2{
                color: darkslategrey;
                margin-bottom: 25px;
                text-align: center;
                font-size: 30px;
            }
            p{
                text-align: center;
                font-size: 20px;
            }
        }
        .contenido{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            img{
                width: 20%;
                margin: 20px;
            }
        }
        
    }
}