doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title seidel | Nosotros
        link(rel="stylesheet" href="/assets/css/main.css")
        link(rel="stylesheet" href="/assets/css/include/header.css")
        link(rel="stylesheet" href="/assets/css/include/footer.css")
        link(rel="stylesheet" href="/assets/css/extra/nosotros.css")
    body 
        include ../../include/header.pug

        main
            .info 
                .vision 
                    h1 Visión
                    p Nuestra empresa se proyecta como el principal referente en la venta de zapatillas en Puerto Maldonado, ofreciendo productos de alta calidad, comodidad y estilo para todas las edades. Queremos que las personas piensen en nosotros cuando busquen zapatillas modernas, cómodas y a buen precio. <br /><br /> Aspiramos a ser el destino preferido para quienes buscan las mejores marcas, asegurando a nuestros clientes una experiencia de compra excepcional y accesible en cada visita.

                .mision 
                    h1 Misión 
                    p Ofrecer zapatillas modernas, cómodas y de calidad a las personas de Puerto Maldonado. Queremos que nuestros clientes encuentren el par perfecto que se ajuste a su estilo y necesidades, ya sea para deporte, trabajo o uso diario. <br /> Fomentamos una experiencia de compra personalizada, tanto en nuestra tienda física como en nuestra página web, y estamos dedicados a trabajar con productos que respeten el medio ambiente, demostrando que es posible lucir bien mientras cuidamos del planeta.

            .localizacion 
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3893.755014570722!2d-69.18353622423204!3d-12.598391087683758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x917b4ea89a67b755%3A0xa910b96401b6504b!2sJr.%20Tacna%20%26%20Av.%20Leon%20Velarde%2C%20Puerto%20Maldonado%2017001!5e0!3m2!1ses-419!2spe!4v1730402552061!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
        
        include ../../include/footer.pug