/*reser CSS o reboot"*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: roboto;
  background-color: #F5F5F5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body ul, body ol {
  list-style: none;
}
body a {
  color: white;
  text-decoration: none;
}
body h1, body h2, body h3 {
  font-family: "Montserrat", sans-serif;
}