.header {
  background-color: aqua;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 60px;
  width: 60px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  height: 100%;
}

.header__nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}
.header__nav-link:hover {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #a7daf4;
  -webkit-box-shadow: 0 4px 8px rgba(0, 170, 255, 0.3);
          box-shadow: 0 4px 8px rgba(0, 170, 255, 0.3);
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .header__nav-list {
    width: 100%;
    text-align: left;
    gap: 20px;
    margin-top: 10px;
  }
  .header__nav-link {
    font-size: 16px;
    padding: 8px 0;
    width: 100%;
    text-align: left;
  }
  .header__user {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
  }
}