.footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
  margin: 10px;
  text-align: center;
}
.footer__title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #fff;
  border-bottom: 2px solid #00aaff;
  padding-bottom: 5px;
  display: inline-block;
}
.footer__list {
  list-style: none;
  padding: 0;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__link:hover {
  color: #00aaff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__link i {
  font-size: 1.5em;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
}
@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__section {
    margin-bottom: 20px;
  }
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}