footer
    table 
        thead 
            tr
                th Empresa 
                    hr
                th Ayuda 
                    hr
                th Siguenos 
                    hr
        tbody 
            tr 
                td: a(href="/build/extra/nosotros.html") Nosotros 
                td: a(href="#") Preguntas 
                td 
                    a(href="https://www.facebook.com/profile.php?id=61566807050447" target="_blank")
                        .vinculo
                            img(src="/assets/img/global/facebook.png" alt="facebook") 
            
            tr 
                td: a(href="#") Nuestros servicios 
                td: a(href="#") Compras 
                td 
                    a(href="https://www.instagram.com/seidel_store/" target="_blank")
                        .vinculo
                            img(src="/assets/img/global/instagram.png" alt="instagram") 

            tr 
                td: a(href="#") Politicas de privacidad 
                td: a(href="#") Eventos 
                td 
                    a(href="https://x.com/vihukstore" target="_blank")
                        .vinculo
                            img(src="/assets/img/global/X.png" alt="X") 



        