header 
    nav.navbar 
        ul.links 
            li
                a(href="/build/index.html")
                    .logo 
                        img(src="/assets/img/global/logo.png" alt="logo") 

            ul.accesos 
                li: a(href="#") HOMBRES 
                li: a(href="#") MUJERES
                li: a(href="#") NIÑOS

            

